# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment Configurations
.env
.env.*
!.env.example

# Operating System Files
.DS_Store
Thumbs.db
